.about-me
{
    width: 100%;
    height: 500px;
    margin-top: 30px
}
.profile-image
{
    
}
.avatar
{
  border: 6px solid #8f19cf;
  vertical-align: middle;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  box-shadow: 0 6px 10px 10px rgba(0, 0, 0, 0.2), 0 8px 20px 10px rgba(0, 0, 0, 0.19);
  padding: 5px;
}