
.text {
    /* background: linear-gradient(to right, rgb(255, 76, 210) 0%, rgb(163, 114, 255) */
    font-family: "Josefin Sans", sans-serif;
    background: linear-gradient(to right, #e72a3a 10%, rgb(76, 255, 135) 50%, #5bdaff 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
}

.textpara{
    background: linear-gradient(to right, #e72a3a 10%, rgb(76, 255, 135) 50%, #5bdaff 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}
.textbutton{
    background: linear-gradient(to right, #e72a3a 10%, rgb(76, 255, 135) 50%, #5bdaff 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 180px;
    height: 55px;
}


@keyframes textclip {
	to {
		background-position: 200% center;
	}
}
.hrline{
        height: 2px;
        background: linear-gradient(to right, #e72a3a 10%, rgb(76, 255, 135) 50%, #5bdaff 60%);        
        border: none;
        margin-top: 20px;
        margin-bottom: 40px;
}
.facebook{
    margin: 20px;
}
.LinkedIn{
    margin: 20px;
}
.Github{
    margin: 20px;
}
.instagram{
    margin: 20px;
}

.textbutton1{
    background: linear-gradient(to right, #e72a3a 10%, rgb(76, 255, 135) 50%, #5bdaff 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 150px;
    height: 40px;
}

.hrline1{
    height: 2px;
    background: linear-gradient(to right, #e72a3a 10%, rgb(76, 255, 135) 50%, #5bdaff 60%);        
    border: none;
   
}